USE [master]
GO
/****** Object:  Database [CineCol]    Script Date: 13/10/2018 12:25:37 ******/
CREATE DATABASE [CineCol]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CineCol', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.INGENIERIA\MSSQL\DATA\CineCol.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CineCol_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.INGENIERIA\MSSQL\DATA\CineCol_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CineCol].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CineCol]
GO
/****** Object:  Table [dbo].[Acomodador]    Script Date: 13/10/2018 12:25:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acomodador](
	[id_acomodador] [nvarchar](10) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apelllido] [nvarchar](50) NULL,
	[Cedula] [nvarchar](11) NULL,
	[Tipo_contrato] [nvarchar](50) NULL,
	[Telefono] [nvarchar](50) NULL,
 CONSTRAINT [PK_Acomodador] PRIMARY KEY CLUSTERED 
(
	[id_acomodador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 13/10/2018 12:25:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[Fecha] [smalldatetime] NULL,
	[NumeroSala] [int] NULL,
	[Titulo] [nvarchar](50) NULL,
	[id_acomodador] [nvarchar](10) NULL,
	[id_horario] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Horarios] PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 13/10/2018 12:25:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[Titulo] [nvarchar](50) NOT NULL,
	[Genero] [nvarchar](50) NULL,
	[Clasificacion] [nvarchar](50) NULL,
	[Actores] [nvarchar](50) NULL,
	[Director] [nvarchar](50) NULL,
	[Distribuidora] [nvarchar](50) NULL,
	[NumeroSala] [int] NULL,
 CONSTRAINT [PK_Peliculas] PRIMARY KEY CLUSTERED 
(
	[Titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Salas]    Script Date: 13/10/2018 12:25:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[NumeroSala] [int] NOT NULL,
	[Capacidad] [int] NULL,
	[Comfort] [nvarchar](50) NOT NULL,
	[NivelSonido] [nvarchar](50) NOT NULL,
	[CalidadProyeccion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Salas] PRIMARY KEY CLUSTERED 
(
	[NumeroSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Acomodador] FOREIGN KEY([id_acomodador])
REFERENCES [dbo].[Acomodador] ([id_acomodador])
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [FK_Horarios_Acomodador]
GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Peliculas] FOREIGN KEY([Titulo])
REFERENCES [dbo].[Peliculas] ([Titulo])
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [FK_Horarios_Peliculas]
GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Salas] FOREIGN KEY([NumeroSala])
REFERENCES [dbo].[Salas] ([NumeroSala])
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [FK_Horarios_Salas]
GO
USE [master]
GO
